<h1>Album</h1>

<button routerLink="/mosaic" [disabled]="!selected">Create Mosaic</button>

<image-upload 
	[max]="1" [buttonCaption]="'Upload Image'" 
	[dropBoxMessage]="'Drop your image here!'"
	(onFileUploadFinish)="imageUploaded($event)"
	(onRemove)="imageRemoved($event)">
</image-upload>

<div class="container">
	<div class="row">
		<img *ngFor="let url of imageUrls" 
			src="{{url}}" 
			class="col-md-3 gallery-image"
			[ngClass]="{'selected': url==selected}"
			(click)="selectImage(url)"/>
	</div>
</div>

<pagination (onPageChange)="pageChanged($event)"></pagination>