
<div class="album-actions">

	<button routerLink="/mosaic" id="mosaic-button" [disabled]="!selected">Create Mosaic</button>

	<image-upload 
		[max]="1" [buttonCaption]="'Upload Image'" 
		[dropBoxMessage]="'Drop your image here!'"
		(onFileUploadFinish)="imageUploaded($event)"
		(onRemove)="imageRemoved($event)"
		id="image-upload">
	</image-upload>

</div>

<div class="container">
	<div class="row">
		<img *ngFor="let url of imageUrls" 
			src="{{url}}" 
			class="col-md-3 gallery-image"
			[ngClass]="{'selected': url==selected}"
			(click)="selectImage(url)"/>
	</div>
</div>

<pagination (onPageChange)="pageChanged($event)" id="pagination"></pagination>